<div class="content-wrapper">
	<div class="content-header row mb-1">
		<div class="content-header-left col-md-6 col-12 mb-2 breadcrumb-new">
			<h3 id="menuTitle" class="content-header-title mb-0 d-inline-block"></h3>
			<div class="row breadcrumbs-top d-inline-block">
				<div class="breadcrumb-wrapper col-12">
					<ol class="breadcrumb">
						<li id="mainHash" class="breadcrumb-item"></li>
						<li id="SubTitle" class="breadcrumb-item"></li>
					</ol>
				</div>
			</div>
		</div>
	</div>
  <div class="content-body-wrap">
		<div id="list" class="content-body" data-role="page"></div>
		<div id="regist" class="content-body" data-role="page"></div>
		<div id="view" class="content-body" data-role="page"></div>
		<div id="modify" class="content-body" data-role="page"></div>
	</div>
</div>